<!-- templates/hello.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello E-commerce Backend</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <div class="bg-white p-8 rounded-lg shadow-lg max-w-md text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Hello and Welcome</h1>
        <p class="text-lg text-gray-600">My E-commerce Back-end Django!</p>
    </div>

</body>
</html>
